     <!--検索機能-->
      <%= form_tag(user_search_path,:method => 'get') do %>
        <%= text_field_tag :date %>
        <%= submit_tag '検索' %>
      <% end %>
      <h3>検索結果</h3>
      <table>
        <th>投稿数</th>
        <td><%= @books_search.count %></td>
      </table>
